.icon-home-instance,
.icon-home-instance * {
  box-sizing: border-box;
}
.icon-home-instance {
  flex-shrink: 0;
  width: var(--icon-size, 24px);
  height: var(--icon-size, 24px);
  position: relative;
  overflow: visible;
}
