.button-setting-type-circle,
.button-setting-type-circle * {
  box-sizing: border-box;
}
.button-setting-type-circle {
  width: 48px;
  height: 48px;
  position: relative;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.button-setting-type-circle .ellipse-87 {
  background: var(--v62-text-and-background-white, #ffffff);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.button-setting-type-circle .icon-setting-instance {
  width: 34px !important;
  height: 34px !important;
  position: absolute !important;
  left: 50% !important;
  translate: -50% -50% !important;
  top: 50% !important;
}
