.section-menu-section-button-type-traffic-webcast,
.section-menu-section-button-type-traffic-webcast * {
  box-sizing: border-box;
}
.section-menu-section-button-type-traffic-webcast {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 100px;
  min-width: 70px;
  max-width: 100px;
  position: relative;
}
.section-menu-section-button-type-traffic-webcast
  .section-menu-section-button-basic-instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
}

/* nested override styles */

.section-menu-section-button-type-traffic-webcast
  .icon-menu-traffic-webcast-instance {
  flex-shrink: 0 !important;
}
